<div>
  <div class="d-flex justify-content-end m-4">
    <app-new-rol-dialog></app-new-rol-dialog>
  </div>
  <div class="d-flex gap-3">
    <form class="w-100 container" [formGroup]="rolesFormGroup">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Task</th>
            <th>Users</th>
            <th>Roles</th>
            <th>Category</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roleControl of rolesFormArray.controls; let i = index" [formGroup]="roleControl">
            <td>
              <mat-form-field class="full-width">
                <mat-label>Nombre del Rol</mat-label>
                <input matInput formControlName="name" [value]="allRoles[i].name" placeholder="Nombre del rol">
              </mat-form-field>
            <td>
              <mat-form-field>
                <mat-label>Permisos para Task</mat-label>
                <mat-select formControlName="Task">
                  <mat-option *ngFor="let permission of permissions; let j = index" [value]="j + 1">
                    {{ permission }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <mat-label>Permisos para Users</mat-label>
                <mat-select formControlName="Users">
                  <mat-option *ngFor="let permission of permissions; let j = index" [value]="j + 1">
                    {{ permission }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <mat-label>Permisos para Roles</mat-label>
                <mat-select formControlName="Roles">
                  <mat-option *ngFor="let permission of permissions; let j = index" [value]="j + 1">
                    {{ permission }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <mat-label>Permisos para Categorias</mat-label>
                <mat-select formControlName="Category">
                  <mat-option *ngFor="let permission of permissions; let j = index" [value]="j + 1">
                    {{ permission }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td class="d-flex gap-3">
              <button mat-mini-fab color="primary" (click)="saveRole(i, allRoles[i].id)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="deleteRole(allRoles[i].id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
