<mat-dialog-content class="d-flex p-4">
  <form [formGroup]="catForm"   class="form-dialog">

        <div class="d-flex align-items-center gap-3 ">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. Pizza" />
          </mat-form-field>
          <button (click)="addCategory()" color="primary" mat-mini-fab>
            <mat-icon >add</mat-icon>
          </button>
        </div>

        <div >
          @for (item of categories; track $index) {
            <div class="d-flex justify-content-between align-items-center ">
            <p>{{item.name}}</p>
            <button (click)="deleteCat(item)" color="warn" mat-mini-fab>
              <mat-icon >delete</mat-icon>
            </button>
          </div>
          }
        </div>




    <mat-dialog-actions class="d-flex gap-3">
      <button mat-flat-button color="warn" (click)="onNoClick()">Cancelar</button>
      <button mat-flat-button type="submit" (click)="saveCategories()" color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
