.badge{
  font-size: 0.9rem;

}

.description{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.categories {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.categories::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

mat-card{
  height: 23rem;
  background: linear-gradient(71deg, #ababab, #f7f2ff, #ffffff);
  box-shadow:0px 0px 10px #ababab ;
  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
}

mat-card:hover{
  box-shadow:0px 0px 20px #8f75b9 ;
}

