
<mat-card class="" appearance="outlined">
  <mat-card-content class="d-flex flex-column h-100 justify-content-between">
    <div>
    <div class="d-flex justify-content-between">
    <h5>{{task.name}}</h5>
    <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>edit</mat-icon></button>
  </div>
    <div class="d-flex  categories gap-1" aria-label="Categorias">
      @for (cat of task.categories; track $index) {
        <span [ngClass]="{'text-bg-danger': cat === 'epic'}" class="badge text-bg-secondary">{{cat}}</span>

      }
    </div>
    <div>
      <app-difficulty [difficulty]="+task.difficulty"></app-difficulty>
    </div>
    <div>
      <p class="description">{{task.description}}</p>
    </div>

    <div class="d-flex  categories gap-1" aria-label="Usuarios asignados">
      @for (usr of task.assign; track $index) {
        <span  class="badge text-bg-light">{{usr}}</span>

      }
    </div>
  </div>
    <div class="d-flex justify-content-end gap-3">

      <button (click)="detail()" mat-flat-button color="primary">Ver</button>
    </div>
  </mat-card-content>
</mat-card>
