.fire-container {
  display: flex;

  align-items: center;
  margin-top: 10px;
}

mat-slider {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

img {
  width: 3em;
  height: 3em;
  transition: opacity 0.3s ease;
}
