<form [formGroup]="roleForm" (ngSubmit)="addRol()" class="p-4">
  <!-- Campo para el nombre del rol -->
  <mat-form-field class="full-width">
    <mat-label>Nombre del Rol</mat-label>
    <input matInput formControlName="name" placeholder="Nombre del rol">
  </mat-form-field>

  <!-- Tabla con los recursos y sus permisos usando Bootstrap -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Recurso</th>
        <th>Ver</th>
        <th>Modificar/Crear</th>
        <th>Ocultar</th>
      </tr>
    </thead>
    <tbody formArrayName="permissions">
      <tr *ngFor="let permission of permissions.controls; let i = index" [formGroupName]="i">
        <td>{{ resources[i].name }}</td>

        <td>
          <mat-radio-group [name]="resources[i].name" formControlName="permission" aria-label="Select Permission">
            <mat-radio-button checked [value]="1"></mat-radio-button>
          </mat-radio-group>
        </td>

        <td>
          <mat-radio-group [name]="resources[i].name" formControlName="permission" aria-label="Select Permission">
            <mat-radio-button [value]="2"></mat-radio-button>
          </mat-radio-group>
        </td>

        <td>
          <mat-radio-group [name]="resources[i].name" formControlName="permission" aria-label="Select Permission">
            <mat-radio-button [value]="3"></mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botones de acción -->
  <div class="d-flex gap-3">
    <button mat-flat-button color="warn" (click)="onNoClick()">Cerrar</button>
    <button mat-flat-button type="submit" [disabled]="!roleForm.valid" color="primary">Crear</button>
  </div>
</form>
