.listTask{
  border: 1px rgb(159, 159, 159) solid;
  min-height: 50vh;
  max-width: 23vw;
}

.listTitle{
  background-color: #673AB7;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  width: 100%;
}

.tasks{
  min-height: 25vh;
  width: 100%;
  padding: 25px;
}
